<style>
#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
h1   {
	color:white;
font-family: verdana;
font-size: 300%;
}
p  {
color:white;
font-family: courier;
font-size: 160%;
border: 1px solid black;
padding: 10px;
margin: 30px;
}
body {
	background-color: rgba(0, 0, 0, 0.856);
}

h1 {
	color: white;
}
</style>